<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{0,0},{140,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,169}</string>
                <key>spriteSourceSize</key>
                <string>{159,169}</string>
                <key>textureRect</key>
                <string>{{140,0},{159,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,177}</string>
                <key>spriteSourceSize</key>
                <string>{142,177}</string>
                <key>textureRect</key>
                <string>{{299,0},{142,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,179}</string>
                <key>spriteSourceSize</key>
                <string>{142,179}</string>
                <key>textureRect</key>
                <string>{{441,0},{142,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,169}</string>
                <key>spriteSourceSize</key>
                <string>{158,169}</string>
                <key>textureRect</key>
                <string>{{583,0},{158,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,176}</string>
                <key>spriteSourceSize</key>
                <string>{125,176}</string>
                <key>textureRect</key>
                <string>{{741,0},{125,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,179}</string>
                <key>spriteSourceSize</key>
                <string>{123,179}</string>
                <key>textureRect</key>
                <string>{{866,0},{123,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boySheet.png</string>
            <key>size</key>
            <string>{989,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a22774f2f5fbd7abc9e29c66e1fdb46:ac362ddc74752bf42f4fd9e0143a0af2:7dfea1c1c4ee8b9ac02e3b6bdd8a9db9$</string>
            <key>textureFileName</key>
            <string>boySheet.png</string>
        </dict>
    </dict>
</plist>
